body,
a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #212121;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-black {
  color: #212121;
}
.logo-white {
  color: #ffffff;
}
.header-nav {
  font-weight: 500;
}
.header-nav a:hover {
  color: #2196f3;
}
.contacts a {
  color: #757575;
  font-weight: 500;
}
.contacts a:hover {
  color: #2196f3;
}
.hero {
  /*height: 600px;*/
  background: #2f303a;
}
.container {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.order {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  border: none;
}
.features h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.features p {
  color: #757575;
}
h2 {
}
.footer {
  background-color: #2f303a;
  color: #ffffff;
}
.filter-button button {
  border: none;
}
.filter-button button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
